<template>
  <q-page>
    <!-- Action Button -->
    <div class="q-pa-lg q-gutter-sm">
      <!-- <q-btn
        class="float-right"
        color="primary"
        size="lg"
        icon-right="fas fa-plus"
        label="สั่งอาหาร"
        @click="showDialog()"
      ></q-btn>-->
      <q-btn
        class="float-right"
        color="primary"
        size="lg"
        icon-right="fas fa-plus"
        label="สั่งยำ"
        @click="showDialogYum()"
      ></q-btn>
    </div>
    <!-- Show Menu -->
    <div class="q-pt-md q-mt-lg">
      <q-card
        :class="{'bg-secondary' : item.status}"
        class="q-ma-lg"
        v-for="(item,index) in menuData"
        :key="index"
      >
        <q-card-section class="row fit text-h6 items-center">
          <div class="col">
            {{ item.orderMenu.label }}
            <span
              v-if="item.totalprice != undefined"
            >{{"+ " + item.totalprice }} บาท</span>
            <hr />

            <div>
              เผ็ด : {{ item.spicy == '1' ? 'พลทหาร' : item.spicy==2 ? 'นายร้อย' : item.spicy == '3' ? 'นายพล' : item.spicy == '4' ? 'นายก' : null }}
              <div>เปรี้ยว : {{ item.sourness == '1' ? 'เปรี้ยวน้อยๆ' : item.sourness == '2' ? 'เปรี้ยวจี๊ดๆ' : item.sourness == '3' ? 'เปรี้ยวปี๊ดๆ' :null }}</div>
            </div>
            <div>
              เพิ่ม :
              <span v-for="(menu,index2) in item.yumArray" :key="index2">{{ menu.menu }} /</span>
            </div>
            <div>
              หมายเหตุ :
              {{ item.remark }}
            </div>
          </div>
          <div class="col-2" align="right">
            <div>
              <q-btn
                @click="cancelConfirm(item)"
                v-show="item.status"
                icon="fas fa-times"
                color="red"
                size="24px"
                flat
              ></q-btn>
              <q-btn
                @click="cencelOrder(item)"
                v-show="!item.status"
                icon="fas fa-trash"
                color="red"
                size="24px"
                flat
              ></q-btn>
              <q-btn @click="confirmDelete(item)" icon="fas fa-check" size="24px" flat></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <q-dialog v-model="isShowOrderMenu">
      <q-card style="width:70%;min-width:300px" class="q-pa-md">
        <q-card-section>
          <div class="text-h6 q-py-md" align="center">สั่งอาหาร</div>
          <div class="q-py-md">
            <q-select :options="menuList" label="เมนูอาหาร" v-model="menuObj.orderMenu"></q-select>
          </div>
          <div class="q-py-md">
            <q-input label="หมายเหตุ" v-model="menuObj.remark"></q-input>
          </div>
          <div class="row q-py-md" align="center">
            <div class="col-6">
              <q-btn label="ยกเลิก" v-close-popup color="warning" style="width:90%"></q-btn>
            </div>
            <div class="col-6">
              <q-btn label="สั่งอาหาร" @click="startOrder()" color="primary" style="width:90%"></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- Dialog ยำ -->
    <q-dialog v-model="isShowDialogYum">
      <q-card style="width:100%;min-width:300px" class="q-pa-md">
        <q-card-section align="center" class="text-h5">เลือกระดับน้ำยำ (25บาท)</q-card-section>
        <q-card-section>
          <div>1) เลือกระดับความเผ็ด</div>
          <div>
            <q-radio val="1" v-model="menuObj.spicy" label="พลทหาร"></q-radio>
            <q-radio val="2" v-model="menuObj.spicy" label="นายร้อย"></q-radio>
            <q-radio val="3" v-model="menuObj.spicy" label="นายพล"></q-radio>
            <q-radio val="4" v-model="menuObj.spicy" label="นายก"></q-radio>
          </div>
        </q-card-section>

        <q-card-section>
          <div>2) เลือกระดับความเปรี้ยว</div>
          <q-radio val="1" v-model="menuObj.sourness" label="เปรี้ยวน้อยๆ"></q-radio>
          <q-radio val="2" v-model="menuObj.sourness" label="เปรี้ยวจี๊ดๆ"></q-radio>
          <q-radio val="3" v-model="menuObj.sourness" label="เปรี้ยวปี๊ดๆ"></q-radio>
        </q-card-section>
        <div align="right">
          <span class="text-red">*หมูสับ,ใส้กรอก มีให้เบื้องต้น</span>
        </div>
        <hr />
        <q-card-section align="center" class="text-h5">เลือกเครื่องยำ</q-card-section>
        <q-card-section class="q-gutter-md">
          <q-btn @click="addYum('กุ้ง',15)" icon="fas fa-plus">
            <div>&nbsp;กุ้ง</div>
            <div>+15บาท</div>
          </q-btn>
          <q-btn @click="addYum('ปูอัด',5)" icon="fas fa-plus">
            <div>&nbsp;ปูอัด</div>
            <div>+5บาท</div>
          </q-btn>
          <q-btn @click="addYum('หมูสามชั้น',15)" icon="fas fa-plus">
            <div>&nbsp;หมูสามชั้น</div>
            <div>+15บาท</div>
          </q-btn>
          <q-btn @click="addYum('ไข่แดงเค็ม',10)" icon="fas fa-plus">
            <div>&nbsp;ไข่แดงเค็ม 1 ฟอง</div>
            <div>+10บาท</div>
          </q-btn>
          <q-btn @click="addYum('หมูยอ',15)" icon="fas fa-plus">
            <div>&nbsp;หมูยอ</div>
            <div>+15บาท</div>
          </q-btn>
          <q-btn @click="addYum('ลูกชิ้นเอ็นหมู',10)" icon="fas fa-plus">
            <div>&nbsp;ลูกชิ้นเอ็นหมู</div>
            <div>+10บาท</div>
          </q-btn>
          <q-btn @click="addYum('ลูกชิ้นเนื้อหมู',10)" icon="fas fa-plus">
            <div>&nbsp;ลูกชิ้นเนื้อหมู</div>
            <div>+10บาท</div>
          </q-btn>
          <q-btn @click="addYum('มาม่า',10)" icon="fas fa-plus">
            <div>&nbsp;มาม่า</div>
            <div>+10บาท</div>
          </q-btn>
          <q-btn @click="addYum('วุ้นเส้น',10)" icon="fas fa-plus">
            <div>&nbsp;วุ้นเส้น</div>
            <div>+10บาท</div>
          </q-btn>
        </q-card-section>
        <hr />
        <q-card-section align="center" class="text-h5">Topping ที่เลือก</q-card-section>

        <q-chip
          color="primary"
          text-color="white"
          icon="fas fa-utensils"
          removable
          class="q-pa-md"
          @remove="removeYumArray(index)"
          v-for="(item,index) in menuObj.yumArray"
          :key="index"
        >{{ item.menu }}</q-chip>

        <hr />
        <q-card-section>
          <q-input label="หมายเหตุ" v-model="menuObj.remark"></q-input>
        </q-card-section>
        <q-card-section class="text-h5" align="center">ราคารวม {{ menuObj.totalprice }} บาท.-</q-card-section>
        <div align="center">
          <q-btn label="สั่งยำ" @click="startOrder()" style="width:90%" color="primary"></q-btn>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
export default {
  // name: "PageIndex",
  data() {
    return {
      menuList: [],
      menuObj: {
        orderMenu: "",
        remark: "",
        spicy: "2",
        sourness: "2",
        shrimp: 0,
        crabstick: 0,
        pork3layer: 0,
        eggyolk: 0,
        porksausage: 0,
        sausage1: 0,
        sausage2: 0,
        yumArray: [],
        totalprice: 25
      },
      isShowOrderMenu: false,
      menuData: [],
      isShowDialogYum: false
    };
  },
  methods: {
    removeYumArray(index) {
      this.menuObj.totalprice -= this.menuObj.yumArray[index].price;
      this.menuObj.yumArray.splice(index, 1);
    },
    addYum(menu, price) {
      let data = {
        menu: menu,
        price: price
      };
      this.menuObj.yumArray.push(data);
      this.menuObj.totalprice += price;
    },
    showDialogYum() {
      (this.menuObj = {
        orderMenu: "",
        remark: "",
        spicy: "2",
        sourness: "2",
        shrimp: 0,
        crabstick: 0,
        pork3layer: 0,
        eggyolk: 0,
        porksausage: 0,
        sausage1: 0,
        sausage2: 0,
        yumArray: [],
        totalprice: 25
      }),
        (this.menuObj.orderMenu = {
          label: "ยำแล้วแต่เลย",
          value: "ยำแล้วแต่เลย",
          price: 0
        });

      this.isShowDialogYum = true;
    },
    loadOrderList() {
      db.collection("orderlist").onSnapshot(doc => {
        let temp = [];
        doc.forEach(element => {
          temp.push({ key: element.id, ...element.data() });
        });
        temp.sort((a, b) => {
          return a.time - b.time;
        });
        temp.forEach((element, index) => {
          element.index = index;
        });
        this.menuData = temp;
      });
    },
    loadMenu() {
      db.collection("menulist")
        .get()
        .then(doc => {
          let temp = [];
          doc.forEach(element => {
            temp.push({
              label:
                element.data().name + " (" + element.data().price + " บาท)",
              value:
                element.data().name + " (" + element.data().price + " บาท)",
              price: element.data().price
            });
          });
          temp.forEach((element, index) => {
            element.index = index;
          });
          this.menuList = temp;
          this.menuObj.orderMenu = this.menuList[0];
        });
    },
    startOrder() {
      let time = new Date().getTime();
      this.menuObj.time = time;
      db.collection("orderlist")
        .add(this.menuObj)
        .then(() => {
          this.$q.notify({
            message: "สำเร็จ",
            color: "secondary"
          });
          this.isShowOrderMenu = false;
        });
      this.isShowDialogYum = false;
    },
    showDialog() {
      this.menuObj.orderMenu = this.menuList[0];
      this.menuObj.remark = "";
      this.isShowOrderMenu = true;
    },
    cencelOrder(item) {
      this.$q
        .dialog({
          title: "ต้องการยกเลิก Order ใช่หรือไม่",
          ok: "ใช่",
          cancel: "ไม่ใช่"
        })
        .onOk(() => {
          db.collection("orderlist")
            .doc(item.key)
            .delete()
            .then(() => {
              this.$q.notify({
                message: "ยกเลิก Order สำเร็จ",
                color: "secondary"
              });
            });
        });
    },
    cancelConfirm(item) {
      this.$q
        .dialog({
          title: "ต้องการยกเลิกสถานะทำอาหารเสร็จใช่หรือไม่",
          ok: "ใช่",
          cancel: "ไม่ใช่"
        })
        .onOk(() => {
          db.collection("orderlist")
            .doc(item.key)
            .update({ status: false });
        });
    },

    confirmDelete(item) {
      // เปลี่ยนสถานะให้เป็น ทำเสร็จแล้ว
      if (item.status) {
        console.log(item.status);
        this.$q
          .dialog({
            title: "ส่ง Order แล้วใช่หรือไม่",
            ok: "ใช่",
            cancel: "ไม่ใช่"
          })
          .onOk(() => {
            // เก็บ LOg
            db.collection("orderlog")
              .add(item)
              .then(() => {
                // DELETE FROM DATABASE
                db.collection("orderlist")
                  .doc(item.key)
                  .delete()
                  .then(() => {
                    this.$q.notify({
                      message: "สำเร็จ",
                      color: "secondary"
                    });
                  });
              });
          });
      } else {
        this.$q
          .dialog({
            title: "เสร็จสิ้นออเดอร์ใช่หรือไม่",
            ok: "ใช่",
            cancel: "ไม่ใช่"
          })
          .onOk(() => {
            db.collection("orderlist")
              .doc(item.key)
              .update({ status: true });
          });
      }
    }
  },
  created() {
    this.loadOrderList();
    this.loadMenu();
  }
};
</script>
