<template>
  <q-page>
    <!-- Action Button -->
    <div class="q-pa-md">
      <q-btn
        class="float-right"
        color="primary"
        size="lg"
        icon-right="fas fa-plus"
        label="เพิ่มเมนูอาหาร"
        @click="showDialog()"
      ></q-btn>
    </div>

    <div class="q-pa-md q-mt-lg">
      <q-card class="q-ma-lg" v-for="(item,index) in menuListData" :key="index">
        <q-card-section class="row fit text-h6 items-center">
          <div class="col-12">
            {{ item.name }}
            <div class="q-py-md">ราคา{{ item.price }} บาท</div>
            <hr />
            <div>
              หมายเหตุ
              {{ item.remark }}
            </div>
          </div>
        </q-card-section>
        <q-card-section align="right" class="fit">
          <div align="right">
            <q-btn @click="editMenu(item)" icon="fas fa-edit" size="24px" flat></q-btn>
            <q-btn @click="confirmDelete(item.key)" icon="fas fa-trash-alt" size="24px" flat></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </div>

    <q-dialog v-model="isShowDialogMenu">
      <q-card style="width:70%;min-width:300px" class="q-pa-md">
        <q-card-section>
          <div class="text-h4 q-py-md" align="center">เพิ่มเมนูอาหาร</div>
          <div class="q-py-md">
            <q-input label="ชื่อเมนู" v-model="menuObj.name"></q-input>
          </div>
          <div class="q-py-md">
            <q-input label="ราคา" type="number" v-model.number="menuObj.price"></q-input>
          </div>
          <div class="q-py-md">
            <q-input label="หมายเหตุ" v-model="menuObj.remark"></q-input>
          </div>
          <div class="row q-py-md" align="center">
            <div class="col-6">
              <q-btn label="ยกเลิก" v-close-popup color="warning" style="width:90%"></q-btn>
            </div>
            <div class="col-6">
              <q-btn
                :label="isEdit ? 'แก้ไข'  :'เพิ่ม'"
                @click="addMenu()"
                color="primary"
                style="width:90%"
              ></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      isShowDialogMenu: false,
      menuObj: {
        name: "",
        price: "",
        remark: ""
      },
      menuListData: [],
      isSnap: "",
      isEdit: false,
      tempKey: ""
    };
  },
  methods: {
    confirmDelete(key) {
      this.$q
        .dialog({
          message: "คุณต้องการลบเมนูใช่หรือไม่",
          ok: "ใช่",
          cancel: "ไม่ใช่"
        })
        .onOk(() => {
          this.$q.loading.show({ delay: 400 });
          db.collection("menulist")
            .doc(key)
            .delete()
            .then(() => {
              this.$q.loading.hide();
              this.$q.notify({
                message: "สำเร็จ",
                color: "secondary"
              });
            });
        });
    },
    editMenu(item) {
      this.isShowDialogMenu = true;
      this.isEdit = true;
      let copyObj = { ...item };
      this.menuObj = copyObj;
      this.tempKey = item.key;
    },
    showDialog() {
      this.isEdit = false;
      this.isShowDialogMenu = true;
      this.menuObj = {
        name: "",
        price: "",
        remark: ""
      };
    },
    loadMenuList() {
      this.$q.loading.show({ delay: 400 });
      this.isSnap = db.collection("menulist").onSnapshot(doc => {
        let temp = [];
        doc.forEach(element => {
          let dataFinal = { key: element.id, ...element.data() };
          temp.push(dataFinal);
        });
        this.menuListData = temp;
        this.$q.loading.hide();
      });
    },
    addMenu() {
      if (!this.isEdit) {
        // เพิ่ม
        db.collection("menulist")
          .add(this.menuObj)
          .then(() => {
            this.$q.notify({
              message: "เพิ่มเมนูสำเร็จ",
              color: "secondary"
            });
          });
      } else {
        // แก้ไข
        db.collection("menulist")
          .doc(this.tempKey)
          .set(this.menuObj)
          .then(() => {
            this.$q.notify({
              message: "แก้ไขเมนูสำเร็จ",
              color: "secondary"
            });
          });
      }

      this.isShowDialogMenu = false;
    }
  },
  mounted() {
    this.loadMenuList();
  },
  beforeDestroy() {
    this.isSnap();
  }
};
</script>

<style>
</style>